/***************************
        House Pages
****************************/



.house-page-wrapper {
  width: 100%;
  min-width: 84rem;
  min-height: 52rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  @media screen and (max-height: 742px) {
    min-height: 49rem;
  }
}

.house-canvas-wrapper {
  position: absolute;
  z-index: 1;
}

.house-canvas__background-image {
  position: absolute;
  z-index: 1;
}

.house-canvas {
  position: absolute;
  z-index: 2;
}