/***************************
         Info Pages
****************************/



.info-page-content {
  margin-left: 9.375rem;
  width: 58.75rem;
  background: $white-base;
}

.info-page-header {
  line-height: .8;
  font-size: $font-size-extra-large;
  font-weight: 400;
  text-transform: uppercase;
}