/***************************
         News Page
****************************/



.news-page-wrapper {
  .header-risen {
    display: none;
  }

  .main-container {
    position: relative;
    z-index: 2;
  }
}

.info-page-content.news-content {
  color: $white-base;
  background: transparent;
  position: relative;
}

.news-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  // background: url("../images/blur-background.jpg");
  background-size: cover;
}



// news slider
.open-news .mews-slider-wrapper {
  opacity: 0;
}

.mews-slider-wrapper {
  position: relative;
  opacity: 1;
  transition: 250ms ease-out;
}

.news-slider__item-wrapper.slick-slide:focus {
  outline: none;
}

.news-slider__item {
  width: 20.01rem;
  padding-right: 1.25rem;
}

.news-slider__item-image-block {
  position: relative;
  width: 100%;
  height: 9.375rem;
  overflow: hidden;
}

.news-slider__item-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  cursor: pointer;
}

.news-slider__item-time {
  position: absolute;
  z-index: 10;
  background: $green-accent;
  font-style: $font-size-small;
  line-height: .8;
  padding: .5625rem;
  top: 0;
  left: 0;
  font-size: $font-size-small;
}

.news-slider__item-header {
  font-size: 1.5rem;
  line-height: .9;
  font-weight: 400;
  margin: .6rem 0;
  height: 2.81rem;
  overflow: hidden;
  cursor: pointer;
  transition: 250ms ease-out;

  &:hover {
    color: $green-accent;
  }
}

.news-slider__item-button {
  border: 1px solid $white-base;
  font-style: $font-size-small;
  display: inline-block;
  cursor: pointer;
  transition: 250ms ease-out;
  margin: 1.35rem 0;
  padding: 0 .6rem .3rem;
  // display: flex;

  path {
    fill: $white-base;
    transition: 250ms ease-out;
  }

  &:hover {
    background: $white-base;
    color: $green-accent;

    path {
      fill: $green-accent;
    }
  }
}

.news-slider__item-button-title,
.news-slider__item-button-ico {
  display: inline-block;
  vertical-align: middle;
}

.news-slider__item-button-title {
  font-size: $font-size-small;
  // line-height: .8;
}

.news-slider__item-button-ico {
  width: 1.125rem;
  height: .25rem;
  margin-left: .6rem;
  margin-bottom: -.15rem;
}

.news-slider__full-text {
  display: none;
}



// news slider button
.open-news {

  .news-slider__prev-button.slide-prev,
  .news-slider__next-button.slide-next {
    transform: scale(0);
    opacity: 0;
  }
}

.news-slider__prev-button.slide-prev,
.news-slider__next-button.slide-next {
  width: 5rem;
  height: 5rem;
  z-index: 100;
  top: 2.3rem;
  transition: 200ms ease-out;

  .slide__top,
  .slide__bottom {
    height: 2px;
  }

  &.slick-disabled {
    cursor: default;
    opacity: .3;
  }
}

.news-slider__prev-button.slide-prev {
  left: -5.5rem;
}

.news-slider__next-button.slide-next {
  right: -5.5rem;
}



// news popup
.open-news .news-popup {
  top: 0;
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  z-index: 500;
}

.without-image {

  .news-popup__image-block {
    display: none;
  }

  .news-popup__content {
    width: 100%;
  }
}

.news-popup {
  position: absolute;
  width: 100%;
  height: 25rem;
  background: $white-base;
  font-size: 0;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  filter: blur(3px);
  transition: 250ms ease-out;
}

.news-popup__image-block {
  width: 20rem;
  height: 100%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.news-popup__content {
  width: 38.75rem;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.news-popup__content-header {
  font-size: 1.5rem;
  color: #626262;
  line-height: .9;
  padding: 1.2rem 4rem 0 1.2rem;
}

.news-popup__content-body {
  margin-top: 1.5rem;
  padding: 0 4rem 0 1.2rem;
  color: #626262;
  font-size: $font-size-small;
  height: 14.375rem;
  overflow: hidden;
  position: relative;

  p {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.news-popup__content-time {
  background: $green-accent;
  font-style: $font-size-small;
  line-height: .8;
  padding: .5625rem;
  display: inline-block;
  color: $white-base;
  font-size: $font-size-small;
  position: absolute;
  bottom: 1.2rem;
  left: 1.2rem;
}