/***************************
       Nouislider Theme
****************************/



.noUi-target {
  box-shadow: none;
  border: none;
  border-radius: 0;
  background: #00bd19;
  height: .125rem;

  .noUi-handle {
    border: none;
    width: 1.25rem;
    height: 1.25rem;
    box-shadow: none;
    border-radius: none;
    background: #00bd19;
    top: -.5625rem;
    left: -.625rem;
    transition: none;

    &:before,
    &:after {
      display: none;
    }
  }

  .noUi-origin.noUi-connect {
    background: #00bd19;
  }

  .noUi-background {
    background: $color-form-border;
  }

  .noUi-active {
    background: $yellow-base !important;
  }

  &#ca-floor-slider,
  &#ca-room-slider,
  &#ca-area-slider,
  &#ca-price-slider {
    background: $color-form-border;
  }
}

.commercial-request__slider-block {


  .noUi-handle {
    width: .625rem;
    height: .625rem;
    top: -.25rem;
    left: -.3175rem;
  }

  .noUi-target {
    background: $color-form-border;
  }

  .noUi-tooltip {
    position: absolute;
    font-size: $font-size-extra-small;
    color: #3c3c3c;
    top: 120%;
    left: 0;
    right: 0;
    margin: auto;
    width: 200%;
    text-align: center;

    span {
      margin-left: .15rem;
    }
  }
}