/***************************
         Popup Style
****************************/



// popup test style
.popup-test {
  position: absolute !important;
  top: 25%;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1000;
}



// popup fundament
.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  display: none;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 501;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  text-align: left;
  direction: ltr;
  background: rgba($black-base, .5);

  &:hover {
    cursor: url("../images/close_cur.cur"), default;
  }
}

.popup-layer {
  position: relative;
  margin: 0 auto;
  padding: 0 0 80px 0;
  height: auto;
}



// popup main style
.popup-window {
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
  background: $white-base;
  width: 58.75em;
  cursor: default;
  box-shadow: 1px 0 11px rgba(0, 0, 0, 0.4);
  padding-bottom: 3.125rem;
  padding-top: 1px;
  animation: popup_open 400ms ease-out;
}

.popup-window__close-button {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1.3rem;
  right: 1.2rem;
  cursor: pointer;
  z-index: 20;

  path {
    fill: $gray-lighten-2;
    transition: 250ms ease-out;
  }

  &:hover path {
    fill: $black-base;
  }

  &:active .popup-window__close-ico {
    // transition: 150ms ease-out;
    // transform: rotate(20deg);
    // filter: blur(3px);
  }
}

.popup-window__close-ico {
  width: 95%;
  height: 95%;
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  z-index: -1;
}
.popup-window__header {
  padding: 1.25rem;
}

.popup-window__header-ico,
.popup-window__header-title {
  display: inline-block;
  vertical-align: middle;
}

.popup-window__header-ico {
  width: 1.875rem;
  height: 1.875rem;
}

.popup-window__header-title {
  font-size: $font-size-popup-header;
  line-height: .8;
  margin-left: .3rem;
}

.popup-window__risen {
  width: 4.56rem;
  height: 4.8125rem;
  position: absolute;
  top: 1rem;
  left: 1rem;

  path {
    fill: $gray-blue;
  }
}


// popup floor slider
.popup-floor-slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 4.375rem;
  height: 9.375rem;
  background: $blue-base;
}

.popup-floor-slider__up,
.popup-floor-slider__down {
  display: block;
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 25%;
  z-index: 20;
  cursor: pointer;

  .floor-slider__left,
  .floor-slider__right {
    width: 40%;
    height: 2px;
    background: $white-base;
    position: absolute;
    transition: 250ms ease-out;
  }

  .floor-slider__left {
    right: 50%;
    transform-origin: right;
  }

  .floor-slider__right {
    left: 50%;
    transform-origin: left;
  }

  &:hover {
    .floor-slider__left,
    .floor-slider__right {
      box-shadow: 0 0 8px rgba($white-base, .8);
    }
  }
}

.popup-floor-slider__up {
  top: 0;

  .floor-slider__left,
  .floor-slider__right {
    top: .5rem;
  }

  .floor-slider__left  { transform: rotate(-30deg); }
  .floor-slider__right { transform: rotate(30deg); }

  &:active {
    transition: 150ms ease-out;

    .floor-slider__left  { transform: rotate(-35deg); }
    .floor-slider__right { transform: rotate(35deg); }
  }
}

.popup-floor-slider__down {
  bottom: 0;

  .floor-slider__left,
  .floor-slider__right {
    bottom: .5rem;
  }

  .floor-slider__right { transform: rotate(-30deg); }
  .floor-slider__left  { transform: rotate(30deg); }

  &:active {
    transition: 150ms ease-out;

    .floor-slider__right { transform: rotate(-35deg); }
    .floor-slider__left  { transform: rotate(35deg); }
  }
}

.popup-floor-slider__count {
  color: $white-base;
  widows: 100%;
  text-align: center;
  margin-top: 3rem;
}

.popup-floor-slider__count-number {
  font-size: $font-size-extra-large;
  font-weight: bold;
  line-height: .8;
  margin-bottom: .2rem;
}

.popup-floor-slider__count-lable {
  font-size: $font-size-small;
  text-transform: uppercase;
  font-weight: bold;
}



// floor map tooltop
.floor-map__tooltip {
  position: fixed;
  width: 21.4rem;
  font-size: $font-size-small;
  background: $white-base;
  height: 2.5rem;
  z-index: 2000;
  font-size: 0;
  box-shadow: 0 2px 2px rgba($gray-base, 0.3);
  filter: drop-shadow(0 2px 2px rgba($gray-base, 0.3));

  &.sold {
    width: 8rem;

    .floor-map__tooltip-ico {
      display: none;
    }

    .floor-map__tooltip-info {
      display: none;
    }

    .floor-map__tooltip-sold {
      display: block;

      &:after {
        content: '';
        position: absolute;
        left: .8rem;
        bottom: -.35rem;
        border-top: .4375rem solid $white-base;
        border-left: .4375rem solid transparent;
        border-right: .4375rem solid transparent;
      }
    }
  }
}

.floor-map__tooltip-ico {
  width: 2.5rem;
  height: 2.5rem;
  background: #eee;
  display: inline-block;
  vertical-align: top;
  position: relative;

  path {
    fill: $gray-lighten-2;
  }

  &:after {
    content: '';
    position: absolute;
    left: .8rem;
    bottom: -.35rem;
    border-top: .4375rem solid #eee;
    border-left: .4375rem solid transparent;
    border-right: .4375rem solid transparent;
  }

  svg {
    width: 50%;
    height: 50%;
    display: block;
    margin: 25% 0 0 25%;
  }
}

.floor-map__tooltip-info {
  display: inline-block;
  width: 18.9rem;
  height: 2.5rem;
  vertical-align: top;
  text-align: center;
}

.floor-map__tooltip-item {
  display: inline-block;
  vertical-align: middle;
  line-height: .9;
  margin-right: 1.2rem;
  margin-top: .25rem;

  &:last-of-type {
    margin-right: 0;
  }

  .count {
    font-size: $font-size-large;
    font-weight: bold;
  }

  .lable {
    font-size: .75rem;
    // text-transfo: ;rm: uppercase;
  }
}

.floor-map__tooltip-room,
.floor-map__tooltip-area {
  color: $blue-base;
}

.floor-map__tooltip-price {
  color: $yellow-base;
}

.floor-map__tooltip-sold {
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: $font-size-large;
  font-weight: bold;
  color: $gray-lighten-2;
  display: none;
}



// floor map popup style
.floor-map-block {
  display: block;
  text-align: center;
}

.floor-map-wrapper {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 25.1875rem;
  width: auto;
  margin: 15% auto 10%;
}

.svg-floor-map {
  display: inline-block;
  position: absolute;
  height: 100%;
  z-index: 57;
  top: 0;
  left: 0;

  path {
    opacity: .4;
    transition: 250ms ease-out;
    cursor: pointer;
  }
}

.map-floor__apartment-1p {
  fill: #BCB4DA;

  &:hover,
  &.map-show-apartment {
    fill: darken(#BCB4DA, 30%);
  }
}

.map-floor__apartment-1s {
  fill: #ABE1FA;

  &:hover,
  &.map-show-apartment {
    fill: darken(#ABE1FA, 30%);
  }
}

.map-floor__apartment-2 {
  fill: #7DD073;

  &:hover,
  &.map-show-apartment {
    fill: darken(#7DD073, 30%);
  }
}

.map-floor__apartment-2p {
  fill: #FBB040;

  &:hover,
  &.map-show-apartment {
    fill: #f88000;
  }
}

.map-floor__apartment-3 {
  fill: #E5C2DE;

  &:hover,
  &.map-show-apartment {
    fill: darken(#E5C2DE, 30%);
  }
}

.map-floor__apartment-3p {
  fill: #FBF394;

  &:hover,
  &.map-show-apartment {
    fill: darken(#FBF394, 30%);
  }
}

.map-floor__apartment.sold {
  fill: #6a6d6d;
  cursor: default;
}

.img-floor-map {
  display: inline-block;
  position: relative;
  height: 100%;
  top: 0;
  z-index: 56;
}

.floor-map__legend {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.floor-map__legend-item {
  display: inline-block;
  margin: 0 1rem;
  color: $night-blue;
  font-size: $font-size-small;
  cursor: pointer;
  transition: 250ms ease-out;

  &:hover {
    color: darken($night-blue, 60%);
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.floor-map__legend-marker {
  width: .625rem;
  height: .625rem;
  margin-right: .5rem;

  &.marker-apartment-1p { background: #BCB4DA; opacity: .6; }
  &.marker-apartment-1s { background: #ABE1FA; opacity: .6; }
  &.marker-apartment-2  { background: #7DD073; opacity: .6; }
  &.marker-apartment-2p  { background: #FBB040; opacity: .6; }
  &.marker-apartment-3  { background: #E5C2DE; opacity: .6; }
  &.marker-apartment-3p  { background: #FBF394; opacity: .6; }
}



// apartment map popup
.apartment-map-block {
  display: block;
  position: relative;
  text-align: center;
  height: 25.1875rem;
  width: 85%;
  left: 0;
  margin: 15% 0 10%;
}

.img-apartment-wrapper {
  display: inline-block;
}

.img-apartment-wrapper,
.img-apartment-map {
  height: 100%;
}

.popup-apartment__menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5rem;
  height: 31.38rem;
  margin: auto;
  // background: red;
}

.popup-apartment__menu-item {
  text-align: center;
  margin-bottom: 2rem;
  transition: 250ms ease-out;
  cursor: pointer;

  path {
    transition: 250ms ease-out;
  }

  &.price {
    color: $green-lighten-1;

    path {
      fill: $green-lighten-1;
    }

    &:hover {
      color: darken($green-lighten-1, 20%);

      path {
        fill: darken($green-lighten-1, 20%);
      }
    }
  }

  &.planning {
    color: $yellow-base;

    path {
      fill: $yellow-base;
    }

    &:hover {
      color: darken($yellow-base, 20%);

      path {
        fill: darken($yellow-base, 20%);
      }
    }
  }

  &.calc {
    color: $blue-base;

    path {
      fill: $blue-base;
    }

    &:hover {
      color: darken($blue-base, 20%);

      path {
        fill: darken($blue-base, 20%);
      }
    }
  }

  &.reserv {
    color: $orange-base;

    path {
      fill: $orange-base;
    }

    &:hover {
      color: darken($orange-base, 20%);

      path {
        fill: darken($orange-base, 20%);
      }
    }
  }

  &.repaire {
    color: $green-base;

    path {
      fill: $green-base;
    }

    &:hover {
      color: darken($green-base, 20%);

      path {
        fill: darken($green-base, 20%);
      }
    }
  }
}

.popup-apartment__menu-image {
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
}

.popup-apartment__menu-lable {
  font-size: $font-size-top-menu;
  line-height: 1.2;
}

.popup-apartment__info {
  width: 100%;
  text-align: center;
}

.popup-apartment__info-item {
  display: inline-block;
  padding: 0 2rem;
  color: $blue-base;

  &.price {
    color: $yellow-base;
  }
}

.popup-apartment__info-count {
  font-size: $font-size-large;
  font-weight: bold;
  line-height: 1;
}

.popup-apartment__info-lable {
  font-size: $font-size-extra-small;
}



// choice apartment popup
.popup-choice-apartment {

  .popup-window__header-ico {
    path {
      fill: #4ea338;
    }
  }

  .popup-window__header-title {
    color: #4ea338;
  }

  .popup-widow__body {
    text-align: center;
  }
}

.choice-apartment__calc-block {
  width: 21.375rem;
  display: inline-block;
  vertical-align: top;
  margin-right: 1.875rem;
}

.choice-apartment__table-block {
  width: 32.3125rem;
  display: inline-block;
  vertical-align: top;
}

.choice-apartment__table-header {
  width: 31.3125rem;

  .choice-apartment__table-column {
    font-size: $font-size-small;
    color: $night-blue;
  }
}

.choice-apartment__table-row {
  width: 100%;
  padding: .5rem;
  font-size: 0;
}

.choice-apartment__table-column {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  
  &.building,
  &.floor,
  &.room {
    width: 16%;
  }

  &.area {
    width: 22%;
  }

  &.price {
    width: 30%;
  }
}

.choice-apartment__table-body-wrapper {
  height: 22.3rem;
  overflow: hidden;
  margin-top: .2rem;
  position: relative;
  width: 103.5%;
  left: 0;
}

.choice-apartment__table-body {
  width: 31.3125rem;

  .choice-apartment__table-row {
    cursor: pointer;
    padding: .3rem .5rem;
    color: $yellow-base;

    &:hover {
      background: $yellow-base;
      color: $white-base;
    }
  }

  .choice-apartment__table-column {
    font-size: $font-size-popup-header;
  }
}