/***************************
         Site Tab
****************************/



.site-tab-wrapper {
  font-size: 0;
}

.site-tab__item {
  font-size: $font-size-small;
  font-weight: bold;
  text-transform: uppercase;
  color: $white-base;
  text-align: center;
  min-width: 6.875rem;
  padding: .6875rem .5rem;
  display: inline-block;
  margin-right: .125rem;
  transition: 250ms ease-out;
  background: $green-accent;
  cursor: pointer;

  &:hover {
    background: lighten($green-accent, 10%);
  }

  &:last-of-type {
    margin-right: 0;
  }

  &.state-active {
    background: $yellow-base;
    cursor: default;

    &:hover {
      background: $yellow-base;
    }
  }
}