/! breadcrumbs (site/components/breadcrumbs.html)
.breadcrombs-block
  ul.breadcrumbs-list
    li.breadcrumbs-item
      a.breadcrumbs-item-link href="" Пункт 1
    li.breadcrumbs-item
      a.breadcrumbs-item-link href="" Пункт 2
    li.breadcrumbs-item
      a.breadcrumbs-item-link href="" Пункт 3
    li.breadcrumbs-item
      span.breadcrumbs-item-link Эта страница