/! site tab (site/components/commercial_tab.html)
.site-tab-wrapper.commercial-tab-wrapper
  .site-tab__item.comercial-tab__item data-building="1"
    |гп-1
  .site-tab__item.comercial-tab__item data-building="2"
    |гп-2