/! popup floor slider (site/components/popup_floor_slider.html)
.popup-floor-slider
  .popup-floor-slider__up
    span.floor-slider__left
    span.floor-slider__right
  .popup-floor-slider__count
    .popup-floor-slider__count-number 5
    .popup-floor-slider__count-lable этаж
  .popup-floor-slider__down
    span.floor-slider__left
    span.floor-slider__right