- def inline_svg(path, kargs={}) attrs=kargs.map {|k,v| "#{k.to_s}=\"#{v.to_s}\""}*' '; File.open("svg/#{path}").read.sub( /\<\s*svg/i, "<svg #{attrs}") end
/! progress selects (site/components/progress_selects.html)
.progress-select-wrapper
  .progress-select.progress-select-building
    input#progress_select_building.progress-select__input type="hidden"
    .progress-select__picked
      span.progress-select__picked-lable гп 1
      span.progress-select__ico.image-block
        == inline_svg "ico_drop_arrow.svg"
    ul.progress-select__dropdown
      li.progress-select__dropdown-item data-value="1" гп 1
      li.progress-select__dropdown-item data-value="2" гп 2
      li.progress-select__dropdown-item data-value="3" гп 3
  .progress-select.progress-select-years
    input#progress_select_years.progress-select__input type="hidden"
    .progress-select__picked
      span.progress-select__picked-lable 2016
      span.progress-select__ico.image-block
        == inline_svg "ico_drop_arrow.svg"
    ul.progress-select__dropdown
      li.progress-select__dropdown-item data-value="2016" 2016
      li.progress-select__dropdown-item data-value="2015" 2015
      li.progress-select__dropdown-item data-value="2014" 2014
      li.progress-select__dropdown-item data-value="2013" 2013
      li.progress-select__dropdown-item data-value="2012" 2012
      li.progress-select__dropdown-item data-value="2011" 2011
  .progress-select.progress-select-month
    input#progress_select_month.progress-select__input type="hidden"
    .progress-select__picked
      span.progress-select__picked-lable январь
      span.progress-select__ico.image-block
        == inline_svg "ico_drop_arrow.svg"
    ul.progress-select__dropdown
      li.progress-select__dropdown-item data-value="1" январь
      li.progress-select__dropdown-item data-value="2" февраль
      li.progress-select__dropdown-item data-value="3" март
      li.progress-select__dropdown-item data-value="4" апрель
      li.progress-select__dropdown-item data-value="5" май
      li.progress-select__dropdown-item data-value="6" июнь
      li.progress-select__dropdown-item data-value="7" июль
      li.progress-select__dropdown-item data-value="8" август
      li.progress-select__dropdown-item data-value="9" сентябрь
      li.progress-select__dropdown-item data-value="10" октябрь
      li.progress-select__dropdown-item data-value="11" ноябрь
      li.progress-select__dropdown-item data-value="12" декабрь