- def render(path) Slim::Template.new("slim/#{path}.slim").render end
- def inline_svg(path, kargs={}) attrs=kargs.map {|k,v| "#{k.to_s}=\"#{v.to_s}\""}*' '; File.open("svg/#{path}").read.sub( /\<\s*svg/i, "<svg #{attrs}") end
.popup-window.popup-floor data-popup-token="gp1_s2"
  .popup-window__risen.image-block
    == inline_svg "ico_risen.svg"
  .popup-window__close-button.close-this
    .popup-window__close-ico.image-block
      == inline_svg "ico_close.svg"
  == render 'components/popup_floor_slide'
  .floor-map-wrapper
    img.img-floor-map src="images/building1_section2.png"
    == inline_svg "building1_section2.svg", class:"svg-floor-map"
  .floor-map__legend
    .floor-map__legend-item data-legend-apartment="1p"
      span.floor-map__legend-marker.marker-apartment-1p
      span.floor-map__legend-lable Однокомнатные(1П)
    .floor-map__legend-item data-legend-apartment="2"
      span.floor-map__legend-marker.marker-apartment-2
      span.floor-map__legend-lable Двухкомнатные(2)
    .floor-map__legend-item data-legend-apartment="3"
      span.floor-map__legend-marker.marker-apartment-3
      span.floor-map__legend-lable Трёхкомнатные(3)