<!--breadcrumbs (site/components/breadcrumbs_progress.html)
Хлебные крошки с селектами для страницы хода строительства-->
<div class="breadcrombs-block">
  <ul class="breadcrumbs-list">
    <li class="breadcrumbs-item">
      <a class="breadcrumbs-item-link" href="">Пункт 1</a>
    </li>
    <li class="breadcrumbs-item">
      <a class="breadcrumbs-item-link" href="">Пункт 2</a>
    </li>
    <li class="breadcrumbs-item">
      <a class="breadcrumbs-item-link" href="">Пункт 3</a>
    </li>
    <li class="breadcrumbs-item">
      <span class="breadcrumbs-item-link">Эта страница</span>
    </li>
  </ul>
</div>
