<!--popup floor slider (site/components/popup_floor_slider.html)-->
<div class="popup-floor-slider">
  <div class="popup-floor-slider__up">
    <span class="floor-slider__left"></span><span class="floor-slider__right"></span>
  </div>
  <div class="popup-floor-slider__count">
    <div class="popup-floor-slider__count-number">
      5
    </div>
    <div class="popup-floor-slider__count-lable">
      этаж
    </div>
  </div>
  <div class="popup-floor-slider__down">
    <span class="floor-slider__left"></span><span class="floor-slider__right"></span>
  </div>
</div>
