<!--progress selects (site/components/progress_selects.html)-->
<div class="progress-select-wrapper">
  <div class="progress-select progress-select-building">
    <input class="progress-select__input" id="progress_select_building" type="hidden" />
    <div class="progress-select__picked">
      <span class="progress-select__picked-lable">гп 1</span><span class="progress-select__ico image-block"><svg  width="64pt" height="64pt" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g id="#424852ff">
        <path fill="#424852" opacity="1.00" d=" M 0.00 17.44 C 0.65 14.58 4.45 13.03 6.64 15.21 C 15.28 23.69 23.82 32.27 32.43 40.77 C 40.75 32.31 48.89 23.66 57.19 15.17 C 59.12 12.85 62.76 13.92 64.00 16.42 L 64.00 19.08 C 54.98 29.33 45.12 38.86 35.74 48.80 C 34.36 50.67 31.32 50.98 29.73 49.20 C 20.51 40.12 11.37 30.96 2.16 21.87 C 1.22 21.05 0.50 20.03 0.00 18.89 L 0.00 17.44 Z" />
        </g>
        </svg>
        </span>
    </div>
    <ul class="progress-select__dropdown">
      <li class="progress-select__dropdown-item" data-value="1">
        гп 1
      </li>
      <li class="progress-select__dropdown-item" data-value="2">
        гп 2
      </li>
      <li class="progress-select__dropdown-item" data-value="3">
        гп 3
      </li>
    </ul>
  </div>
  <div class="progress-select progress-select-years">
    <input class="progress-select__input" id="progress_select_years" type="hidden" />
    <div class="progress-select__picked">
      <span class="progress-select__picked-lable">2016</span><span class="progress-select__ico image-block"><svg  width="64pt" height="64pt" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g id="#424852ff">
        <path fill="#424852" opacity="1.00" d=" M 0.00 17.44 C 0.65 14.58 4.45 13.03 6.64 15.21 C 15.28 23.69 23.82 32.27 32.43 40.77 C 40.75 32.31 48.89 23.66 57.19 15.17 C 59.12 12.85 62.76 13.92 64.00 16.42 L 64.00 19.08 C 54.98 29.33 45.12 38.86 35.74 48.80 C 34.36 50.67 31.32 50.98 29.73 49.20 C 20.51 40.12 11.37 30.96 2.16 21.87 C 1.22 21.05 0.50 20.03 0.00 18.89 L 0.00 17.44 Z" />
        </g>
        </svg>
        </span>
    </div>
    <ul class="progress-select__dropdown">
      <li class="progress-select__dropdown-item" data-value="2016">
        2016
      </li>
      <li class="progress-select__dropdown-item" data-value="2015">
        2015
      </li>
      <li class="progress-select__dropdown-item" data-value="2014">
        2014
      </li>
      <li class="progress-select__dropdown-item" data-value="2013">
        2013
      </li>
      <li class="progress-select__dropdown-item" data-value="2012">
        2012
      </li>
      <li class="progress-select__dropdown-item" data-value="2011">
        2011
      </li>
    </ul>
  </div>
  <div class="progress-select progress-select-month">
    <input class="progress-select__input" id="progress_select_month" type="hidden" />
    <div class="progress-select__picked">
      <span class="progress-select__picked-lable">январь</span><span class="progress-select__ico image-block"><svg  width="64pt" height="64pt" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g id="#424852ff">
        <path fill="#424852" opacity="1.00" d=" M 0.00 17.44 C 0.65 14.58 4.45 13.03 6.64 15.21 C 15.28 23.69 23.82 32.27 32.43 40.77 C 40.75 32.31 48.89 23.66 57.19 15.17 C 59.12 12.85 62.76 13.92 64.00 16.42 L 64.00 19.08 C 54.98 29.33 45.12 38.86 35.74 48.80 C 34.36 50.67 31.32 50.98 29.73 49.20 C 20.51 40.12 11.37 30.96 2.16 21.87 C 1.22 21.05 0.50 20.03 0.00 18.89 L 0.00 17.44 Z" />
        </g>
        </svg>
        </span>
    </div>
    <ul class="progress-select__dropdown">
      <li class="progress-select__dropdown-item" data-value="1">
        январь
      </li>
      <li class="progress-select__dropdown-item" data-value="2">
        февраль
      </li>
      <li class="progress-select__dropdown-item" data-value="3">
        март
      </li>
      <li class="progress-select__dropdown-item" data-value="4">
        апрель
      </li>
      <li class="progress-select__dropdown-item" data-value="5">
        май
      </li>
      <li class="progress-select__dropdown-item" data-value="6">
        июнь
      </li>
      <li class="progress-select__dropdown-item" data-value="7">
        июль
      </li>
      <li class="progress-select__dropdown-item" data-value="8">
        август
      </li>
      <li class="progress-select__dropdown-item" data-value="9">
        сентябрь
      </li>
      <li class="progress-select__dropdown-item" data-value="10">
        октябрь
      </li>
      <li class="progress-select__dropdown-item" data-value="11">
        ноябрь
      </li>
      <li class="progress-select__dropdown-item" data-value="12">
        декабрь
      </li>
    </ul>
  </div>
</div>
